@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141413;
}

.border-streak-overlay {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    #ff7f7f,
    #7fff7f,
    #7f7fff,
    #ff7fff,
    #ff7f7f
  );
  background-size: 400% 400%;
  z-index: -1;
}
