@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141413;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.02) 1px,
      transparent 1px
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0.02) 1px, transparent 1px);
  background-size:
    3px 3px,
    1px 1px;
}

.border-streak-overlay {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    #ff7f7f,
    #7fff7f,
    #7f7fff,
    #ff7fff,
    #ff7f7f
  );
  background-size: 400% 400%;
  z-index: -1;
}
